* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'segoe ui', 'Georgia', 'Times', serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
}

.nav {
  height: 50px;
  width: 100%;
  padding: 1px 100px;
  background-color: #e3e2e1;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #404040;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 14px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #404040;
}

.nav > .nav-links > a:hover {
  color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.centered {
    /* outline: 1px solid red; */
    text-align: center;
    vertical-align: middle;
}


/* Main section */
.main {
    width: 80%;
    margin: 70px auto;
}

.add-note, .notes {
    text-align: center;
}

.add-note {
    margin-top: 70px;
}

.note {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px #ccc;
    /* width: calc(30% - 48px); */
    width: 30%;
    height: auto;
    margin: 15px;
    padding: 16px;
    vertical-align: top;
    background-color: #99ddff;
}

.note.first-in-line {
    margin-left: 0;
}

.note.last-in-line {
    margin-right: 0;
}

.note .info {
    margin-top: 10px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #00b300;
}

.note .info a {
    color: #00b300;
}

.note .info a:hover,    /* when link is either hover on or active*/
.note .info a:active {
    color: #aaa;
}

.note .delete {
    position: absolute;    /*since we made the notes container relatively positioned */
    top: 2px;
    right: 4px;
    font-family: sans-serif;
}

.note .delete a {
    color: #bbb;
    text-decoration: none;
}

.note .delete a:hover,
.note .delete a:active {
    color: red;
}

/* Making notes form */
.form-input {
    margin: 10px 0;
}

.form-input label {
    display: block;
    text-align: center;
    font-weight: bold;
}

.form-input input,
.form-input textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
    padding: 4px 8px;
}

.form-input textarea {
    width: 300px;
}

.form-input #author_name {
    width: 200px;
}

.btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #00cc44;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    padding: 8px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #29a329;
}

/* styling for info/messages/error */
/* .info-box {
    text-align: center;
    margin: auto;
    padding: 16px;
    border-radius: 4px;
    width: 350px;
}

.info-box.fail {
    border: 1px solid #ff6b6a;
    background-color: #ffc2ba;
    color: #ff6b6a;
}

.info-box.success {
    border: 1px solid #46cc71;
    background-color: #bdffb6;
    color: #46cc71;
} */


/* snackbar */
#successInfo, #errorInfo {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 10;
  right: 3%;
  top: 70px;
  font-size: 15px;
  width: 280px;
}

#errorInfo {
    border: 1px solid #ff6b6a;
    background-color: #ff4d4d;
}

#successInfo {
    border: 1px solid #46cc71;
    background-color: #248f24;
}

#successInfo.show, #errorInfo.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {right: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {right: 0; opacity: 0;}
  to right: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {right: 30px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

@keyframes fadeout {
  from {right: 30px; opacity: 1;}
  to {right: 0; opacity: 0;}
}

/* ======================== */

.filter-bar {
    width: 100%;
    padding: 16px;
    background-color: #ccffcc;
    color: #000;
    text-align: center;
}

.pagination {
    font-size: 20px;
}

.pagination a {
    color: #000;
    text-decoration: none;
}

.pagination a:hover,
.pagination a:active {
    color: #ccc;
}
